@charset "UTF-8";


/*CSS da página inicial*/
#banner{
	width: 100%;
}
.cabeca{
	width: 940px;
	margin: 0 auto;
}
.titulo-centralizado{
	font-size: 40px;
	text-align: center;
	margin: 20px 0 1em 0;
}
.cabeca p{
	font-size: 22px;
	margin: 1em 0;
}
#mission em strong{
	font-style: italic;	
}
#mission em strong{
	color: #FF0000;
}
.cabeca strong{
	font-weight: bold;

}
.beneficios ul{
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	padding-left: 25%; 
}
.beneficios li{
	font-size: 16px;
	padding: 2px 0;
}
.imgbenef {
	text-align: right;
	width: 30%;
	margin-left: 30px;
}


/*CSS da página de produtos*/
header{
	background-color: #BBBBBB;
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;

}

nav{
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;	
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: grey;
	text-decoration: underline;
}

.produtos{
	width: 940px;
	margin: 50px  auto 0 auto;
}

.produtos li{
	border: 3px solid black;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;

	margin-bottom: 40px;
}

.produtos li:hover{
	color: grey;
	border-color: grey;
}

.produtos li:hover h2{
		font-size: 35px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.descricao{
	font-size: 18px;
}

.preco{
	font-size: 22px;
	font-weight: bold;
	margin: 5px 0 0;
}

footer{
	background-color: #888888;
	text-align: center;
}

.copyright{
	color: #FFFFFF;
	font-size: 20px;
	padding-bottom: 20px
}